<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing - Melhor coleção de moda para a familia</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <!-- NAVEGADOR -->
    <nav class="navbar"></nav>
    <!-- END NAVEGADOR -->

    <!-- HERO SECTION -->
    <header class="hero-section">
        <div class="content">
            <img src="img/light-logo.png" class="logo" alt="">
            <p class="sub-heading">Melhor coleção de moda para a familia</p>
        </div>
    </header>
    <!-- END HERO SECTION -->

    <!-- CARDS - CONTAINER -->
    <section class="product">
        <h2 class="product-category">Com descontos imperdíveis!!!</h2>
        <button class="pre-btn"><img src="./img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./img/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <a href="/search"><img src="./img/card1.png" class="product-thumb" alt=""></a>
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Daslu</h2>
                    <p class="product-short-des">Vestido Primavera...</p>
                    <span class="price">R$160,00</span><span class="actual-price">R$40,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <a href="/search"><img src="./img/card2.png" class="product-thumb" alt=""></a>
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Clothing Man</h2>
                    <p class="product-short-des">Conjunto de calça e camiseta </p>
                    <span class="price">R$240,00</span><span class="actual-price">R$60,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="./img/card3.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand"> Moletom Clothing</h2>
                    <p class="product-short-des">Conjunto Masc</p>
                    <span class="price">R$224,00</span><span class="actual-price">R$56,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">30% off</span>
                    <img src="./img/card4.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Vestido daslu </h2>
                    <p class="product-short-des">Vestido Festa</p>
                    <span class="price">R$196</span><span class="actual-price">R$84,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="./img/card5.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Camisa Masc</h2>
                    <p class="product-short-des">Modelo Italiano</p>
                    <span class="price">R$144,00</span><span class="actual-price">R$36,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="./img/card6.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Camisa Clothing</h2>
                    <p class="product-short-des">modelo masculino </p>
                    <span class="price">R$108,00</span><span class="actual-price">R$12,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">15% off</span>
                    <img src="./img/card7.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Camisa Clothing</h2>
                    <p class="product-short-des">camisa social black </p>
                    <span class="price">R$161,50</span><span class="actual-price">R$28,50</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="./img/card8.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Clothing</h2>
                    <p class="product-short-des">kit Camisa/ Calça</p>
                    <span class="price">R$270,00</span><span class="actual-price">R$30,00</span>
                </div>
            </div>
        </div>
    </section>
    <!-- END CARDS - CONTAINER -->

    <!-- COLLECTIONS -->
    <section class="collection-container">
        <a href="#" class="collection">
            <img src="./img/women-collection.png" alt="">
            <p class="collection-title">Feminino <br> </p>
        </a>
        <a href="#" class="collection">
            <img src="./img/men-collection.png" alt="">
            <p class="collection-title">Masculino <br> </p>
        </a>
        <a href="#" class="collection">
            <img src="./img/accessories-collection.png" alt="">
            <p class="collection-title">Acessorios</p>
        </a>
    </section>
    <!-- END COLLECTIONS -->

    <!-- CARDS - CONTAINER SHIRTS -->
    <section class="product">
        <h2 class="product-category">mais promoções</h2>
        <button class="pre-btn"><img src="./img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./img/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <a href="/product"><img src="img/productImage1.png" class="product-thumb" alt=""></a>
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand"> Calvin Klein</h2>
                    <p class="product-short-des">camiseta masc verde</p>
                    <span class="price">R$135,00</span><span class="actual-price">R$15,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="/img/camisaFemFaces.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Hering Faces</h2>
                    <p class="product-short-des">camiseta feminina</p>
                    <span class="price">R$96,00</span><span class="actual-price">R$24,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="/img/camisetaFem.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Clothing Basic </h2>
                    <p class="product-short-des">Camiseta Feminina </p>
                    <span class="price">R$96,00</span><span class="actual-price">R$24,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="/img/camisaFem.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Clothing Premium</h2>
                    <p class="product-short-des">camisa feminina </p>
                    <span class="price">R$180</span><span class="actual-price">R$20</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">15% off</span>
                    <img src="/img/camisetaMascK.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Clothing Kids</h2>
                    <p class="product-short-des">Camiseta infantil masc </p>
                    <span class="price">R$85,00</span><span class="actual-price">R$15,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">15% off</span>
                    <img src="/img/camisetafemk.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Clothing Kids</h2>
                    <p class="product-short-des">Camiseta Fem </p>
                    <span class="price">R$85,00</span><span class="actual-price">R$15,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="/img/bermuda-santa-cruz-classic-dot-stripe-moletom-preto-100980.jpeg"
                        class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Clothing Surf</h2>
                    <p class="product-short-des">Bermuda </p>
                    <span class="price">R$80,00</span><span class="actual-price">R$20,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="/img/boné bronx.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Bronx</h2>
                    <p class="product-short-des">Boné cinza</p>
                    <span class="price">R$180</span><span class="actual-price">R$20,00</span>
                </div>
            </div>
        </div>
    </section>
    <!-- END CARDS - CONTAINER SHIRTS -->

    <!-- CARDS - CONTAINER SHOES -->
    <section class="product">
        <h2 class="product-category">Shoes</h2>
        <button class="pre-btn"><img src="./img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./img/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="./img/card9.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar á lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nike Shoes Lx</h2>
                    <p class="product-short-des">Tênis Running</p>
                    <span class="price">R$360,00</span><span class="actual-price">R$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="./img/card10.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Topper</h2>
                    <p class="product-short-des">Tênis Training</p>
                    <span class="price">R$200,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="./img/card11.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Penauty</h2>
                    <p class="product-short-des">Tênis Sporting</p>
                    <span class="price">R$178,00</span><span class="actual-price">R$22</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="./img/card12.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">reebook</h2>
                    <p class="product-short-des">tenis runner black</p>
                    <span class="price">R$180,00</span><span class="actual-price">R$20,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="/img/tenis-vans-old-skool-rosa-claro-branco-preto-99355.jpeg" class="product-thumb"
                        alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Vans Pink</h2>
                    <p class="product-short-des">Tênis rosa skate</p>
                    <span class="price">R$180,00</span><span class="actual-price">R$20,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="/img/tenis-vans-authentic-elastic-crayola-preto-colorido-106028.jpeg"
                        class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">VANS crayola</h2>
                    <p class="product-short-des">Tênis infantil</p>
                    <span class="price">R$180,00</span><span class="actual-price">R$20,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">0,5% off</span>
                    <img src="/img/tenis-nike-sb-force-58-premium-rosa-preto-branco-106255.jpeg" class="product-thumb"
                        alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nike Force58</h2>
                    <p class="product-short-des">Tênis Training </p>
                    <span class="price">R$665,00</span><span class="actual-price">R$35,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="/img/tenis-vans-skate-sk8-hi-creme-azul-105866.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Vans Creme</h2>
                    <p class="product-short-des">Vans skate masc</p>
                    <span class="price">R$358,00</span><span class="actual-price">R$42,00</span>
                </div>
            </div>
        </div>
    </section>
    <!-- END CARDS - CONTAINER SHOES -->

    <!-- FOOTER -->
    <footer></footer>
    <!-- END FOOTER -->

    <script src="/js/nav.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/footer.js"></script>
</body>

</html>