<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clothing: MyPurchases</title>

  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/MyPurchases.css">
</head>

<body>
  <nav class="navbar"></nav>

  <div class="cart-section">
    <div class="product-list">
      <p class="section-heading">Minhas Compras</p>
      <div class="cart">
        <!--carrinho de produtos aqui-->
        <!--<img src="img/carrinhoVazio.png" class="empty-img" alt="">-->
        <div class="sm-product">
          <img src="img/productImage1.png " class="sm-product-img" alt="">
          <div class="sm-text">
            <p class="sm-product-delivery">Entregue</p>
            <p class="sm-product-date">Chegou no dia 23 de Julho de 2021</p>
            <p class="sm-des">Camiseta Calvin masculina</p>
            <p class="sm-des">camiseta 100% algodão </p>
            <p class="sm-product-message">Enviar mensagem</p>
            <div class="checkout-section">

            </div>
          </div>

          <div class="checkout-box">

            <a href="/cart" class="checkout-btn">Ver Compra</a>
            <a href="/# " class="checkout-bt">Comprar novamente</a>

          </div>
        </div>


        <!-- <div class="checkout-box">

            <a href="/checkout" class="checkout-btn">Ver Compra</a>
            <a href="/checkout" class="checkout-bt">Comprar novamente</a>

          </div> -->
        <!-- <div class="wishlist">
          <p class="section-heading">Minhas compras</p>
          <img src="img/productImage1.png " class="sm-product-img" alt="">
          <div class="sm-text">
            <p class="sm-product-delivery">Entregue</p>
            <p class="sm-product-date">Chegou no dia 32 de Agosto de 2021</p>
            <p class="sm-des">Camiseta Calvin masculina</p>
            <p class="sm-des">camiseta 100% algodão </p>
            <div class="checkout-boxx">
              <a href="/checkout" class="checkout-btn">Ver Compra</a>
              <a href="/checkout" class="checkout-bt">Comprar novamente</a>

            </div>

 -->
      </div>
    </div>

  </div>
  </div>

  <footer></footer>
  <script src="js/nav.js"></script>
  <script src="js/footer.js"></script>
  <script src="js/home.js"></script>
  <!-- <script src="js/cart.js"></script> -->
</body>

</html>