
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seller:Admin</title>

  <link rel="stylesheet" href="css/signup.css">
  <link rel="stylesheet" href="css/seller.css">
</head>



<body>
  <img src="img/loader.gif" class="loader" alt="">

    <div class="alert-box">
        <img src="img/error.png" class="alert-img" alt="">
        <p class="alert-msg">Error</p>
    </div>

  <img src="img/dark-logo.png" class="logo" alt="">
  <!-- become seller element -->
  <div class="become-seller hide">  
    <p class="heading">become a seller</p>
    <p class="des">Descrição do admin</p>
    <button class="btn" id="apply-btn">solicitar a conta do admin </button>
  </div>
  <!--aplicar formulario-->
  <div class="apply-form">
    <input type="text" id="business-name" placeholder="business name/company name / shop name">
    <textarea id="adicionar admin" placeholder="sobre"></textarea>
    <textarea id="sobre" placeholder="about"></textarea>
    
    <input type="text" id="business-name" placeholder="business name/company name / shop name">
    <input type="checkbox" checked class="checkbox" placeholder="number">
    
    <label for="terms-and-cond">Concorda com os nossos <a href="">termos e 
    condições</a></label>
    <br>
    <input type="checkbox" checked class="checkbox" id="legitInfo">
    <label for="legitInfo">todas as informações são verdadeiras     
    </label>
    <button class="submit-btn" id="apply-form-btn">Aplicar</button>  

  </div>

  <script src="js/token.js"></script>
  <script src="js/seller.js"></script>
   
</body>
</html>
