<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product - </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>

    <nav class="navbar"></nav>

    <!-- PRODUCT DETAILS -->
    <section class="product-details">
        <div class="image-slider">
            <div class="product-images">
                <img src="/img/productImage1.png" class="active" alt="">
                <img src="/img/productImage2.png" alt="">
                <img src="/img/productImage3.png" alt="">
                <img src="/img/productImage4.png" alt="">
            </div>
        </div>
        <div class="details">
            <h2 class="product-brand">calvin klein</h2>
            <p class="product-short-des">Camiseta Calvin masculina </p>
            <span class="product-price">R$135,00</span>
            <span class="product-actual-price">R$15,00</span>
            <span class="product-discount">( 10% off )</span>

            <p class="product-sub-heading">selecione o tamanho</p>
         <div class="size-group">
            <input type="radio" name="size" value="s" checked hidden id="s-size">
            <label for="s-size" class="size-radio-btn check">s</label>
            <input type="radio" name="size" value="m" hidden id="m-size">
            <label for="m-size" class="size-radio-btn">m</label>
            <input type="radio" name="size" value="l" hidden id="l-size">
            <label for="l-size" class="size-radio-btn">l</label>
            <input type="radio" name="size" value="xl" hidden id="xl-size">
            <label for="xl-size" class="size-radio-btn">xl</label>
            <input type="radio" name="size" value="xxl" hidden id="xxl-size">
            <label for="xxl-size" class="size-radio-btn">xxl</label>
          </div>

            <button class="btn cart-btn">Adicionar ao carrinho</button>
            <button class="btn">adicionar a lista de desejos</button>
        </div>
    </section>
    <!-- END PRODUCT DETAILS -->

    <section class="detail-des">
        <h2 class="heading">descrição</h2>
        <p class="des">Camisetas de manga curta são peças de roupa que nunca pode faltar, aqui na Clothing você encontra de modelos mais basícos e cores neutras à modelos estampados com cores vibrantes, tudo de acordo com o seu gosto e necessidade.

            As camisetas que oferecemos na Clothing  são de procedência garantida, original, das marcas mais renomadas do mundo de , como camisetas Vans, Element, Dc Shoes, Nike, Clothing Store, Nike, Santa Cruz, Daslu , Calvin Clain, Lacost, Dudalina, Volcom, Billabong, Creature, Diamond, Grizzly, Primitive, High Company e muito mais!
            
            Fique atento às modelagens e grade de tamanhos, se você tiver alguma dúvida do tamanho que se encaixa no seu estilo, entre em contato com a Cloting via WhatsApp.
            
            Trabalhamos com a linha de tamanhos tradicional P, M, G e GG. Linha Big 1GG, 2GG, 3GG e a linha infantil 08 ( P ), 10/12 ( M ), 14 ( G ) e 16 ( GG ).
        </p>
    </section>

    <!-- CARDS - CONTAINER SHIRTS -->
    <section class="product">
        <h2 class="product-category">Melhores Ofertas</h2>
        <button class="pre-btn"><img src="/img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="/img/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/TSHIRT-THE-BATMAN-SCZ-MAEC366-SCZ-M-10051089528-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Camiseta Batman</h2>
                    <p class="product-short-des">Camiseta masculina </p>
                    <span class="price">R$52,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/JAQUETA-C-CAPUZ-DE-MOLETOM-MOLI-PTO-M-10051840679-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejost</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Jaqueta</h2>
                    <p class="product-short-des">Jaqueta com Capuz Preta </p>
                    <span class="price">R$220,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/CALCA-MASC-ROSO-AZUL-33655-AZL-42-10051966287-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">calça jeans</h2>
                    <p class="product-short-des">Calça Masc slim</p>
                    <span class="price">R$120</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/BERMUDA-C-BOLSO-CARGO-MASC-BRANCO-42-10051850883-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Bermuda</h2>
                    <p class="product-short-des">Bermuda Masculina branca.</p>
                    <span class="price">$72,20</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/RELOGIO-MASC-AVULSO-COPC32CZ-7D-DOU-10052073397-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Relógio</h2>
                    <p class="product-short-des">Relógio Masc Mondane</p>
                    <span class="price">R$320,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/oculos-evoke-shift-g21-tartaruga-100230.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">óculos</h2>
                    <p class="product-short-des">óculos evoke</p>
                    <span class="price">R$520</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/RELOGIO-MASC-AVULSO-MOLIFEAF-8V-VRD-10052072116-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Relógio</h2>
                    <p class="product-short-des">Rélógio Sporting</p>
                    <span class="price">R$152,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/oculos-evoke-reverse-brd01-azul-103193.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">óculos </h2>
                    <p class="product-short-des">óculos Evoke</p>
                    <span class="price">R$420</span><span class="actual-price"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- END CARDS - CONTAINER SHIRTS -->

    <!-- CARDS - CONTAINER SHOES -->
    <section class="product">
        <h2 class="product-category">ultimas visualizações</h2>
        <button class="pre-btn"><img src="./img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="./img/arrow.png" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/productImage1.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Calvin Klein</h2>
                    <p class="product-short-des">Camiseta Calvin Kein</p>
                    <span class="price">R$135,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">0,5% off</span>
                    <img src="/img/tenis-nike-sb-force-58-premium-rosa-preto-branco-106255.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nike Force58</h2>
                    <p class="product-short-des">Tênis Nike Rosa</p>
                    <span class="price">R$665,00</span><span class="actual-price">R$35,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="./img/card11.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Penauty</h2>
                    <p class="product-short-des">Sporting Tênis</p>
                    <span class="price">R$178,00</span><span class="actual-price">R$22</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="./img/card12.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">reebook</h2>
                    <p class="product-short-des">tenis runner black</p>
                    <span class="price">R$180,00</span><span class="actual-price">R$20,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/meia-diamond-hobbs-crew-azul-piscina-105199.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Meias Diamond</h2>
                    <p class="product-short-des">meias crew-azul</p>
                    <span class="price">R$20,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/SHORTDOLL-MINNIE-ROSA-XADREZ-CP-ROS-6-10047920644-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Shortdoll</h2>
                    <p class="product-short-des">Shortdoll Minnie</p>
                    <span class="price">R$120,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/SAIA-JNS-BAHAMAS-JAC-38-10050583324-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Saia Bahamas</h2>
                    <p class="product-short-des">Saia Jeans </p>
                    <span class="price">R$120,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/TOP-MC-MASS-NARUTO-PRETO-PTO-6-10050883745-C1 (1).webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Camiseta Naruto</h2>
                    <p class="product-short-des">Camiseta Infantil</p>
                    <span class="price">R$55,00</span><span class="actual-price"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- END CARDS - CONTAINER SHOES -->

    <footer></footer>

    <script src="./js/nav.js"></script>
    <script src="./js/footer.js"></script>
    <script src="./js/home.js"></script>
    <script src="./js/product.js"></script>
    
</body>
</html>