<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results for </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    
    <nav class="navbar"></nav>

    <section class="search-results">
        <h2 class="heading">Resultados de pesquisa para <span>produtos</span></h2>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="./img/card1.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Daslu</h2>
                    <p class="product-short-des">Vestido Primavera...</p>
                    <span class="price">R$160,00</span><span class="actual-price"></span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="./img/card2.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Clothing Man</h2>
                    <p class="product-short-des">Conjunto de calça e camiseta </p>
                    <span class="price">R$240,00</span><span class="actual-price">R$60,00</span>
                </div>
            </div>
          
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="/img/camisaFemFaces.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Camiseta Fem</h2>
                    <p class="product-short-des">camiseta Faces</p>
                    <span class="price">R$96,00</span><span class="actual-price">R$24,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">20% off</span>
                    <img src="/img/camisetaFem.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Camiseta Fem </h2>
                    <p class="product-short-des">Feminino </p>
                    <span class="price">R$96,00</span><span class="actual-price">R$24,00</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">10% off</span>
                    <img src="./img/card9.png" class="product-thumb" alt="">
                    <button class="card-btn">adicionar á lista de desejost</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Nike Shoes lx</h2>
                    <p class="product-short-des">Run Black</p>
                    <span class="price">R$360,00</span><span class="actual-price">R$40</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <span class="discount-tag">10% off</span>
                    <img src="/img/boné bronx.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">boné Bronx</h2>
                    <p class="product-short-des">boné cinza</p>
                    <span class="price">R$180</span><span class="actual-price">R$20,00</span>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/RELOGIO-MASC-AVULSO-COPC32CZ-7D-DOU-10052073397-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejos</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Relógio</h2>
                    <p class="product-short-des">Relógio Masc Mondane</p>
                    <span class="price">R$320,00</span><span class="actual-price"></span>
                </div>


            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag"></span>
                    <img src="/img/JAQUETA-C-CAPUZ-DE-MOLETOM-MOLI-PTO-M-10051840679-C1.webp" class="product-thumb" alt="">
                    <button class="card-btn">adicionar a lista de desejost</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Jaqueta</h2>
                    <p class="product-short-des">Jaqueta com Capuz Preta </p>
                    <span class="price">R$220,00</span><span class="actual-price"></span>
                </div>


            <div class="product-card">
                <span class="discount-tag">15% off</span>
                    <img src="/img/camisetaMascK.jpeg" class="product-thumb" alt="">
                    <button class="card-btn">adicionar à lista de desejo</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Camiseta Kids</h2>
                    <p class="product-short-des">Camiseta masc </p>
                    <span class="price">R$85,00</span><span class="actual-price">R$15,00</span>
                </div>
            </div>
            
            
            
                    
                </div>
              </div>
           
            </div>
        </div> 
        </div>
    </section>

    <footer></footer>

    <script src="./js/nav.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/footer.js"></script>
</body>
</html>