footer {
    position: relative;
    width: 100%;
    max-width: 1082;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #383838;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo {
    height: 160px;
}


.footer-ul-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title {
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.category .footer-link {
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover {
    color: #fff;
}

.footer-title,
.info {
    color: rgba(255, 255, 255, 0.75);
    margin: 20px 0;
    text-transform: capitalize;
}

.footer-title {
    margin-top: 80px;
    color: #fff;
}

.footer-social-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


.social-link:nth-child(1) {
    margin-left: 0;
}

.footer-credit {
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.midia-icones {
    max-width: 400px;
    display: flex;

}

.midia-icones {
    max-width: 100px;
    padding: 20px;
    float: left;
    flex-direction: row;
}

.instagram {
    max-width: 50px;
    padding: 5px;
}

.facebook {
    max-width: 50px;
    padding: 5px;

}

.twitter {
    max-width: 50px;
    padding: 5px;
}

.midia-link {
    max-width: 400px;
    display: flex;
    padding: 10px;
    margin: 30px 10px 20px 20px;
    float: left;

}



.social-link {
    color: #fff;
    margin: 5px;
    display: flex;
    text-transform: capitalize;
}

.formasDePagamentos {
    max-width: 50px;
    display: flex;

}

.card-pay img {
    background-color: rgb(180, 182, 184);
    width: 60px;
    margin: 8px;
    border: 1px solid #fff;

}