* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.font-changer {
    display: flex;
}

label {
    cursor: default;
}


nav ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    text-transform: uppercase;
}

.font-changer a {
    display: flex;


}


.font-changer a {
    width: 25px;
    height: 25px;
    border: 1px solid #383838;
    border-radius: 50%;
    color: #000;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}


.nav-items {
    display: flex;
    align-items: center;
}

img:hover {
    background-color: #c7daff;
    color: #fff;
    transition: background-color 1s;

}

.brand-logo {
    height: 60px;
}

.search {
    width: 500px;
    display: flex;
}

.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-btn:hover {
    background-color: #5c9bb1;
    color: #fff;
    transition: background-color 1s;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.search-box:hover {
    border-color: #0e0d0d;
    transition: background-color 1s
}

.nav-items a {
    margin-left: 20px;
    position: relative;
}

.nav-items a img {
    width: 30px;
    cursor: pointer;
}

.links-container {
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link {
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}


.link:hover {
    opacity: 1;
}

.login-logout-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    top: 40px;
    width: 200px;
    transition: .5s;
    border: 2px solid #f5f5f5;
}

.login-logout-popup::after {
    content: '';
    position: absolute;
    top: -7.5px;
    left: 50%;
    transform: translate(-50%);
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 5px;
}

.account-info {
    font-size: 20px;
    text-transform: none;
}

#user-btn {
    padding: 10px;
    background: #383838;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.hide {
    opacity: 0;
    pointer-events: none;
}


/* Smartphones */
@media (min-width:375px) and (max-width:767px) {
    .nav {
        width: 100%;
        padding: 2px 3vw;
        flex-direction: column;
    }

    .links-container {
        width: 133%;
        display: flex;
        padding: 10px 10vw;
        justify-content: center;
        list-style: none;
        border-top: 1px solid #d1d1d1;
    }

    .brand-logo {
        height: 38px;
        width: 80px;
    }

    .nav-user-cart {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px -5px 1px;

    }

    .nav-items {
        display: flex;
        align-items: center;
    }


    .nav-items a img {
        width: 30px;
        cursor: pointer;
    }

    img:hover {
        background-color: #610B0B;
        color: #fff;
        transition: background-color 1s;

    }


    .search {
        width: 180%;
        display: flex;
    }

    .search-box {
        width: 149px;
        height: 12%;
    }

    .search-btn {
        width: 17%;
        height: 40px;
        padding: 10px 10px;
        border: none;
        outline: none;
        cursor: pointer;
        background: #383838;
        color: #fff;
        text-transform: capitalize;
        font-size: 15px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }



    .search-btn:hover {
        background-color: rgb(174, 137, 137);

        color: #fff;
        transition: background-color 1s;

    }

    .link {
        font-size: 12px;
    }

}